<ion-header>
    <ion-navbar color="cay">
        <ion-title>
            Registro
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
        <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input formControlName="name" type="text" maxLength="15" [class.invalid]="!signupForm.controls.name.valid && signupForm.controls.name.dirty">
            </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!signupForm.controls.name.valid && signupForm.controls.name.dirty">
            <p>Máximo 15 caracteres.</p>
        </ion-item>
        <ion-item>
            <ion-label floating>Apellidos</ion-label>
            <ion-input formControlName="lastname" type="text" maxLength="25" [class.invalid]="!signupForm.controls.lastname.valid && signupForm.controls.lastname.dirty">
            </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!signupForm.controls.lastname.valid && signupForm.controls.lastname.dirty">
            <p>Máximo 25 caracteres.</p>
        </ion-item>
        <ion-item>
            <ion-label floating>Fecha de nacimiento</ion-label>
            <ion-datetime formControlName="birthdate" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" cancelText="Cancelar" doneText="Aceptar">
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input formControlName="email" type="email" maxLength="25" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
            </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
            <p>Introduzca un email válido.</p>
        </ion-item>
        <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input formControlName="password" type="password" maxLength="15" [class.invalid]="!signupForm.controls.password.valid &&
            signupForm.controls.password.dirty">
            </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
            <p>Contraseña de mínimo 6 caracteres.</p>
        </ion-item>
        <ion-item>
            <ion-label floating>Repetir contraseña</ion-label>
            <ion-input formControlName="repeat" type="password" maxLength="15" [class.invalid]="!signupForm.controls.repeat.valid && signupForm.controls.repeat.dirty">
            </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="signupForm.hasError('mismatch')">
            <p>Las contraseñas no coinciden.</p>
        </ion-item>
        <button color="cay-comp1" round ion-button class="submit-btn" full type="submit">
            Crear cuenta
        </button>
    </form>
</ion-content>