<ion-header>
    <ion-navbar color='cay'>
        <ion-title>Mis asignaturas</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="authProvider.logoutUser()">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="animate-in-primary animate-in-secondary">
    <ion-list class='padding-top'>
        <ion-item *ngFor="let item of subjects" (click)="detail(item)">
            <h2>{{item.name}}</h2>
            <h3 *ngIf="item.speciality!==undefined">{{item.speciality}}</h3>
            <p>Curso: {{item.course}}</p>
            <p>Tipo: {{getType(item.type)}}</p>
        </ion-item>
    </ion-list>
</ion-content>