<ion-header>
    <ion-navbar color="cay">
        <ion-title>
            Recuperar contraseña
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input formControlName="email" type="email" [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty">
            <p>Introduce un email válido.</p>
        </ion-item>
        <button color="cay-comp1" round ion-button full type="submit">
            Recuperar
        </button>
    </form>
</ion-content>