<ion-header>
    <ion-navbar color="cay">
        <ion-title>
            Perfil
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="authProvider.logoutUser()">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div style="height: 50%;">
        <ion-item>
            <p>{{user.name}}</p>
        </ion-item>
        <ion-item>
            <p>{{user.lastname}}</p>
        </ion-item>
        <ion-item>
            <p>{{user.email}}</p>
        </ion-item>
    </div>
    <div style="height: 50%;">
        <div *ngIf="!isBrowser()" class="gallery-button" text-center>
            <button ion-button large color="danger" (click)="cameraPicking()">
                <ion-icon name="camera"></ion-icon>
            </button>
            <button ion-button large color="danger" (click)="galleryPicking()">
                <ion-icon name="images"></ion-icon>
            </button>
            <p>Elige una foto de perfil</p>
            <ion-thumbnail *ngIf="profilePicture!==undefined">
                <img src="data:image/png;base64,{{profilePicture}}"/>
            </ion-thumbnail>
        </div>
        <div *ngIf="isBrowser()">
            <img *ngIf="profilePicture!==undefined" src="data:image/png;base64,{{profilePicture}}" />
            <input name="file" type="file" (change)="fileChange($event)" placeholder="Examinar foto" accept=".png,.jpg" class="padding-top">
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar position='bottom' color='white'>
        <button color="cay-comp1" round ion-button class="button" full (click)="update()">Guardar cambios</button>
    </ion-toolbar>
</ion-footer>