<ion-header>
    <ion-navbar color="cay">
        <ion-title>
            Detalle de asignatura
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <h2>Nombre</h2>
        <p>{{subject.name}}</p>
    </ion-item>
    <ion-item>
        <h2>Curso</h2>
        <p>{{subject.course}}</p>
    </ion-item>
    <ion-item>
        <h2>Tipo</h2>
        <p>{{getType(subject.type)}}</p>
    </ion-item>
    <ion-item *ngIf="subject.speciality!==undefined">
        <h2>Especialidad</h2>
        <p>{{subject.speciality}}</p>
    </ion-item>
</ion-content>