// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  white:    #ffffff,
  dark:       #222,
  cay-blue1:  #0099cc,
  cay-blue2:  #4dd2ff,
  cay:        #42b1d6,
  irish:      #4CD964,
  dark-irish: #41c157,
  light-blue: #d6f4ff,
  cay-dark:   #2a738c,
  cay-comp1:  #058AB6,
  light-grey: #efefef,
  dark-grey:  #999,
  darker-grey:#595959
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$text-input-ios-highlight-color: color($colors, cay-dark);

$tabs-ios-tab-icon-color-active: map-get($colors, light);
$tabs-ios-tab-color-active: map-get($colors, light);
$tabs-ios-tab-color-inactive: map-get($colors, cay-dark);
$tabs-ios-background: color($colors, cay);

$toolbar-ios-height: 50px;

$searchbar-ios-background-color: color($colors, cay);
//$datetime-ios-padding-start: 0px;

$label-ios-text-color: color($colors, dark-grey);
$label-ios-text-color-focused: color($colors, cay-comp1);

.ios ion-list > .item:first-child, 
.ios ion-list > .item-wrapper:first-child .item {
    border-top: none;
}
.ios ion-list > .item:last-child, 
.ios ion-list > .item-wrapper:last-child .item {
    border-bottom: none;
}

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$text-input-highlight-color-valid: color($colors, cay);
$text-input-md-show-focus-highlight: false;

//$datetime-md-padding-start: 0px;
$searchbar-md-background-color: color($colors, cay);

// .platform-android .datetime{
//   margin-left: 7.5px;
// }

$tabs-md-tab-icon-color-active: map-get($colors, light);
.tabs-md .tab-button[aria-selected=true] {
  color: map-get($colors, light) !important;
}

$tabs-md-background: color($colors, cay);

$label-md-text-color-focused: color($colors, cay-comp1);



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
