// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@-webkit-keyframes slideInBothWays {
    0% {
      -webkit-transform: translate3d(-100%,0,0);
    }
   
    50% {
      -webkit-transform: translate3d(50%,0,0);
    }
   
    100% {
      -webkit-transform: translate3d(0,0,0);
    }
  }
   
  .slide-in-both-ways {
    -webkit-animation: slideInBothWays ease-in 1; 
    animation: slideInBothWays ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 750ms;
    animation-duration: 750ms;
  }
  
  @-webkit-keyframes animateInPrimary {
    0% {
      -webkit-transform: translate3d(-100%,0,0);
    }
   
    100% {
      -webkit-transform: translate3d(0,0,0);
    }
  }
   
  @-webkit-keyframes animateInSecondary{
   
    0% {
      opacity: 0;
    }
   
    50% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }
   
  .animate-in-primary {
      -webkit-animation: animateInPrimary;
      animation: animateInPrimary;
      -webkit-animation-duration: 500ms;
      animation-duration: 500ms;
  }
   
  .animate-in-secondary {
      -webkit-animation: animateInSecondary ease-in 1;
      animation: animateInSecondary ease-in 1;
      -webkit-animation-duration: 500ms;
      animation-duration: 500ms;
  }
  
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translate3d(0,0,0);
    }
   
    25% {
      -webkit-transform: translate3d(0,-30%,0);
    }
   
    50% {
      -webkit-transform: translate3d(0,0,0);
    }
   
    75% {
      -webkit-transform: translate3d(0,-30%,0);
    }
   
    100% {
      -webkit-transform: translate3d(0,0,0);
    }
  }
   
  .bounce-animation {
    -webkit-animation: bounce ease-in 1; 
    animation: bounce ease-in 1;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
  }
  
  @-webkit-keyframes throwAway {
    10% {
      -webkit-transform: translate3d(10%,0,0);
    }
   
    25% {
      -webkit-transform: translate3d(25%,0,0);
      opacity: 0.75;
    }
  
    50% {
      -webkit-transform: translate3d(50%,0,0);
      opacity: 0.5;
    }
   
    75% {
      -webkit-transform: translate3d(75%,0,0);
      opacity: 0.25;
    }
   
    100% {
      -webkit-transform: translate3d(100%,0,0);
      opacity: 0;
    }
  }
  
  .throw-animation {
      -webkit-animation: throwAway ease-out 1;
      animation: throwAway ease-out 1;
      -webkit-animation-duration: 500ms;
      animation-duration: 500ms;
  }