<ion-header>
    <ion-navbar color='cay'>
        <ion-title>{{storedUser.name}} {{storedUser.lastname}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-scroll scrollX="true" scrollY="true" style="height: 50%;">
        <ion-list>
            <ion-list-header color='light-grey'>
                Asignaturas de {{selectedType}}
            </ion-list-header>
            <ion-item *ngFor="let item of storedSubjects | async">
                <ion-icon name="add" item-start color='secondary' (click)='add(item)'></ion-icon>
                {{item.name}}
            </ion-item>
        </ion-list>
    </ion-scroll>
    <ion-scroll scrollX="true" scrollY="true" style="height: 50%;">
        <ion-list>
            <ion-list-header color='light-grey'>
                Asignaturas del usuario
            </ion-list-header>
            <ion-item *ngFor="let item of userSelectedSubjects">
                <ion-icon name="remove" item-start color='danger' (click)='remove(item)'></ion-icon>
                {{item.name}}
            </ion-item>
        </ion-list>
    </ion-scroll>
    <ion-fab bottom right #fab>
        <button ion-fab color="cay-comp1">
            <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab color='cay' (click)="selected('ESO', fab);">ESO</button>
            <button ion-fab color='danger' (click)="selected('BACCALAURATE', fab);">Bach.</button>
            <button ion-fab color='light' (click)="selected('GRADE', fab);">Grad.</button>
            <button ion-fab color='dark' (click)="selected('POSTGRADE', fab);">Post.</button>
        </ion-fab-list>
    </ion-fab>
</ion-content>

<ion-footer>
    <ion-toolbar position='bottom' color='white'>
      <button color="cay-comp1" round ion-button class="submit-btn" full (click)="updateSubjects()">Finalizar</button>
    </ion-toolbar>
  </ion-footer>