<ion-header>
    <ion-navbar color="cay">
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="subjectForm" (submit)="saveSubject()" novalidate>
        <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input formControlName="name" type="text" maxLength="45" [class.invalid]="!subjectForm.controls.name.valid && subjectForm.controls.name.dirty">
            </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!subjectForm.controls.name.valid && subjectForm.controls.name.dirty">
            <p>Debe tener entre 5 y 45 caracteres.</p>
        </ion-item>
        <ion-item>
            <ion-label floating>Curso</ion-label>
            <ion-input formControlName="course" type="number" pattern="[0-9]*" maxLength="1" [class.invalid]="!subjectForm.controls.course.valid && subjectForm.controls.course.dirty">
            </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!subjectForm.controls.course.valid && subjectForm.controls.course.dirty">
            <p>Debe tener un sólo número.</p>
        </ion-item>
        <ion-item>
            <ion-label floating>Tipo</ion-label>
            <ion-select okText="Ok" cancelText="Cancelar" formControlName="type">
                <ion-option value="ESO">Educación Secundaria Obligatoria</ion-option>
                <ion-option value="BACCALAURATE">Bachillerato</ion-option>
                <ion-option value="GRADE">Grado</ion-option>
                <ion-option value="POSTGRADE">Postgrado</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>Especialidad *</ion-label>
            <ion-input formControlName="speciality" type="text" maxLength="30">
            </ion-input>
        </ion-item>
        <button  color="cay-comp1" round ion-button class="submit-btn" full type="submit">
            Finalizar
        </button>
    </form>
</ion-content>