<ion-header>
  <ion-navbar color='cay'>
    <ion-row class="padding-top">
      <ion-title>Alumnos</ion-title>
      <ion-buttons start>
        <button ion-button icon-only (click)="authProvider.logoutUser()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-row>
    <ion-row class="padding-top">
      <ion-col col-11>
        <ion-searchbar (ionInput)="onSearch($event)" (ionCancel)="onSearchCancel($event)" [showCancelButton]="true"
        placeholder="Buscar por {{getFilterTag()}}" cancelText="Cancelar"></ion-searchbar>
      </ion-col>
      <ion-col col-1>
        <ion-icon class="padding-top" name="arrow-dropdown-circle">
          <ion-select [(ngModel)]="filter" [selectOptions]="selectOptions">
            <ion-option value="{{Name}}">Nombre</ion-option>
            <ion-option value="{{Lastname}}">Apellidos</ion-option>
            <ion-option value="{{Email}}">Email</ion-option>
          </ion-select>
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content class="animate-in-primary animate-in-secondary">
  <ion-list class='padding-top'>
    <ion-item-sliding *ngFor="let item of users | async" [class.throw-animation]="item.deleted">
      <ion-item *ngIf="item.email !== currentUser" (click)="edit(item.key,item);">
        <ion-avatar item-start>
          <img *ngIf="item.profilePicture !== undefined" src="data:image/png;base64,{{item.profilePicture}}">
          <img *ngIf="item.profilePicture == undefined" src="assets/imgs/default-user.png">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <h3>{{item.lastname}}</h3>
        <p>{{item.email}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button (click)='delete(item)' ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>