page-user-list {
    .rounded-image {
        height: 5vw; 
        width: 5vw; 
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .padding-top{
        padding-top: 10px;
    }

    ion-icon {
        font-size: 20px;
        color: white
    }

    ion-select {
        height: 5px;
    }
}