<ion-content class='login-content no-scroll' padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/imgs/logo.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input #email formControlName="email" type="email" placeholder="Escribe tu email" [class.invalid]="!loginForm.controls.email.valid &&
                  loginForm.controls.email.dirty">
              </ion-input>
            </ion-item>
            <p class="error-message" *ngIf="!loginForm.controls.email.valid  &&
              loginForm.controls.email.dirty">Introduzca un email válido.</p>
            <ion-item>
              <ion-input #password formControlName="password" type="password" placeholder="Escribe tu contraseña" [class.invalid]="!loginForm.controls.password.valid &&
                  loginForm.controls.password.dirty">
              </ion-input>
            </ion-item>
            <p class="error-message" *ngIf="!loginForm.controls.password.valid  &&
              loginForm.controls.password.dirty">Contraseña de mínimo 6 caracteres.</p>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit">LOGIN</button>
          <button ion-button class="register-btn" block clear type="button" (click)="createAccount()">REGISTRARSE</button>
        </ion-col>
      </ion-row>
    </form>

    <button ion-button class="register-btn" block clear type="button" (click)="goToResetPassword()">
      He olvidado mi contraseña
    </button>

  </div>
</ion-content>