page-login {
    form {
      margin-bottom: 32px;
      button {
        margin-top: 20px;
      }
    }
    
    .invalid {
      border-bottom: 1px solid #e60000;
    }
  
    p {
        color: #e60000
    }

    .error-message .item-inner {
      border-bottom: 0 !important;
    }

    .login-content {
      background: map-get($colors, light-blue);
    }

    .no-scroll .scroll-content{
        overflow: hidden;
    }

    .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .login-box {
        background: map-get($colors, cay);
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
        border-radius: 25px;
    }

    ion-row {
        align-items: center;
        text-align: center;
    }

    ion-item {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px !important;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }

    .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
    }

    .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
    }

    .submit-btn {
        background: map-get($colors, cay-dark);
        border-radius: 30px !important;
    }

    .register-btn {
        color: #ffffff;
        font-size: 1.0em;
    }
  }