<ion-header>
    <ion-navbar color='cay'>
        <ion-row class="padding-top">
            <ion-title>Asignaturas</ion-title>
            <ion-buttons start>
                <button ion-button icon-only (click)="authProvider.logoutUser()">
                    <ion-icon name="log-out"></ion-icon>
                </button>
            </ion-buttons>
        </ion-row>
        <ion-row class="padding-top">
            <ion-searchbar (ionInput)="onSearch($event)" (ionCancel)="onSearchCancel($event)" [showCancelButton]="true" placeholder="Buscar por nombre"
                cancelText="Cancelar"></ion-searchbar>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content class="animate-in-primary animate-in-secondary">
    <ion-list class='padding-top'>
        <ion-item-sliding *ngFor="let item of subjects | async" [class.throw-animation]="item.deleted">
            <ion-item (click)="edit(item.key, item)">
                <h2>{{item.name}}</h2>
                <h3 *ngIf="item.speciality!==undefined">{{item.speciality}}</h3>
                <p>Curso: {{item.course}}</p>
                <p>Tipo: {{getType(item.type)}}</p>
            </ion-item>
            <ion-item-options side="right">
                <button (click)='deleteSubject(item.key, item)' ion-button color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Eliminar
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab bottom right #fab>
        <button ion-fab color="cay-comp1" (click)='newSubject()'>
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>